@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: Georgia, serif;
    color:#003300;
}

h1, h2, h3, p, td {
    text-align: center;
}

table { 
    margin-left: auto;
    margin-right: auto;
}

h1, h3 {
    font-family: "Indie Flower", sans-serif;
}

img.cover {
    width:300px;
    height:300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-style:italic;
}

.albumImg {
    background-image: url(https://f1.bcbits.com/img/a1656893857_16.jpg); 
    height: 400px; 
    width: 400px; 
    margin-left: auto; 
    margin-right: auto
}