a:hover {
    text-decoration: underline;
}

p {
    font-family: Georgia, serif;
    color:firebrick;
}

h1, h2, h3, p, td {
    text-align: center;
}

table { 
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: Cooper Std, sans-serif;
}

img.cover {
    width:300px;
    height:300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
