#hmenu {
    column-count:3;
    column-gap:40px;
    column-width:80px;
    border:3;
    font-family:Arial, sans-serif;
}

#footInfo {
    text-align: center;
    color: dimgray;
    font-family: Tahoma, sans-serif;
}

h1, h2, h3, p, td {
    text-align:center;
}