@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}

a {
    font-weight:none;
}

a:link {
    color:green;
}

a:visited {
    color:red;
}

a:hover {
    font-weight:bold;
}

a:active {
    text-decoration: none;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: large;
}

#hmenu {
    column-count:3;
    text-align:center;
    width:20%;
    font-family:Arial, sans-serif;
    background-color:azure;
}

#footInfo {
    text-align: center;
    color: dimgray;
    font-family: Tahoma, sans-serif;
}

#homeContent {
    background-color: lightgray;
}

#required {
    font-weight:bold;
}

#bevMenu {
    text-decoration: underline;
}