h1, h3, table, td, th {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
}

th {
    background-color: darkgrey;
    font-weight: bold;
}

#playButton {
    height: 40px;
    width: 120px;
}

div {
    display: block;
    background-color: gainsboro;
}

#startingBet {
    background-color: darkgray;
    border: 0px;
}

#totalRolls, #highestAmount, #highestRolls{
    background-color: gainsboro;
    border: 0px;
}

